@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins";
    text-decoration: none;
}

body {
    background-color: #DFDDDD;
    height: 100vh;
}

/* Header Starts */
.container {
    background-color: white;
    width: 1150px;
    height: 85px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 50px 145px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 73px;
    height: 45px;
    margin-left: 30px;
}

.logo p {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px
}


ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

ul li {
    margin: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

/* Header Ends  */

/* Main Section Starts */

#main {
    width: 1150px;
    height: 498px;
    margin: 0px 145px;
    border-radius: 10px;
    background-image: url("/image/Travel.png");

}

.content {
    width: 1000px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content p {
    font-weight: 700;
    font-size: 82px;
    line-height: 72px;
    margin-left: 250px;
    color: #fff;
}

/* Main Section Ends */

/* Footer Starts */
.forFooter {
    display: flex;
    align-items: center;
    width: 1150px;
    height: 155px;
    margin-top: 25px;
    margin: 66px 145px;
    border-radius: 10px;
    background-color: #fff;
    justify-content: space-between;
}


.footers-logo {
    width: 73px;
    height: 45px;
    margin-left: 30px;
    padding: 20px 0px 0px 0px;
}

.footers-logo p {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px
}

.title {
    margin-left: 30px;
}

.title p {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #B1B1B1;
    margin-top: 25px;
}

.social-media {
    margin-left: 30px;
    margin-top: 10px;
}

.social-media i {
    border: 1px solid gray;
    border-radius: 50px;
    background-color: gray;
    color: white;
    padding: 10px;
    margin-right: 25px;
}

.subscribe p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.form-title {
    width: 235px;
    height: 35px;
}

.form-title p {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #B1B1B1;
}

.for-subscribe {
    display: flex;
    margin-right: 10px;
    margin-top: 14px;
}

input {
    width: 145px;
    height: 43px;
    border-radius: 15px;
    border: 1px solid gray;
    outline: none;
    padding: 15px;
}

a {
    height: 43px;
    color: #fff;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: gray;
}

/* Footer Ends */